<!DOCTYPE html>
<head>
<body>
    <h1> CREATE </h1>
    <style>

        body {
            background-image: url('https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNvbGlkJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
            background-repeat: no-repeat; 
            background-size: cover; 
        }
    </style>        
    <form action="/upload" method="post">
        <div>
           First Name <input type="text" name="Firstname" placeholder="FirstName">
        </div>
        <br>
        <br>
        <div>
            Last Name <input type="text" name="Lastname" placeholder="LastName">
        </div>
        <br>
        <br>
        <div>
            School Name <input type="text" name="Schoolname" placeholder="Schoolname">
        </div>
        <br>
        <br>
        <div>
            College Name <input type="text" name="Collegename" placeholder="Collegename">
        </div>
        <br>
        <br>
        <div>
            Email <input type="text" name = "Email" placeholder="Email">
        </div>
        <br> 
        <br>
        <div>
           
            Enter Your Skills 1: <input type="text" name="Skills1" placeholder="Skills1">
        </div>
        <div>
        <br>
        <br> 

            Enter Your Skills 2: <input type="text" name="Skills2" placeholder="Skills2">
        </div>
        <br>
        <br>
        <div>
            Enter Your Skills 3: <input type="text" name="Skills3" placeholder="Skills3">
        </div>
        <br>
        <br>
        <div>
            WriteaboutYouself : <br><textarea name=" WriteaboutYouself " cols="20" rows="10"></textarea>
        </div>
        <br>
        <br>
        <div class="input-group">
            <p>Please Enter Your profile picture<p>
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button> -->
        </div>
        <br>
        <br>
        <div>
            <input type="submit" value = "Submit Now">
        </div>

    </form>
</body>
</html>


